{{ define "main" }}

<section class="hero is-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Events
      </h1>
      <!--<p class="subtitle">Drop beats, not bombs</p>-->
    </div>
  </div>
</section>

<section class="section boxgrid">
  <div class="container">
    <div class="columns entries dark is-multiline">
      <div class="column is-four-fifths">
        
            This section is under construction.
        
      </div>{{/* /column */}}
      <div class="column is-one-fifth sidebar">
        {{ partial "djsets-sidebar.html" . }}
      </div>{{/* /column */}}      
  </div>{{/* /container */}}
</section>

<style>
.entry {
  min-height: 320px;
}
</style>

{{ end }}