{{ define "main" }}
<section class="section home-hero mb-5">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <h1 class="home-logo">DJ KONIGI</h1>
        <p class="home-description mt-0 mb-1">Feel good vibes for parties & corporate events in the San Francisco Bay Area</p>
        <p class="mb-2">From <strong>House and Disco</strong> to R&B, Current Chart, Pop, and nostalgic tracks from the 80's and 90's, <strong>I craft a sound that fits your party.</strong> Listen to <a href="mixes">mixes</a> and <a href="/music">music</a>, find out more about <a href="/events">events and services</a>, or reach out to see if my services are a good fit for your party.</strong></p>
        <p class="mb-4"><a href="/booking" class="button is-medium">Contact Me</a></p>
      </div>
  </div>
</section>

{{ end }}